@using System.Web.UI.DataVisualization.Charting
@{
double optionprice = 0.0;

if(IsPost){
	var Kind = Request["Type"];
	double Price = double.Parse(Request["Price"]);
	double Strike = double.Parse(Request["Strike"]);
	double Risk = double.Parse(Request["Risk"]);
	double Vol = double.Parse(Request["Vol"]);
	double Time = double.Parse(Request["Time"]);
	if (Kind == "Call"){
	double d1 = ( Math.Log(Price/Strike) + (Risk + Math.Pow(Vol, 2.0)/2.0)*Time )/( Vol * Math.Sqrt(Time));
	double d2 = ( Math.Log(Price/Strike) + (Risk - Math.Pow(Vol, 2.0)/2.0)*Time )/( Vol * Math.Sqrt(Time));
	var chart = new System.Web.UI.DataVisualization.Charting.Chart();
	double N1 = chart.DataManipulator.Statistics.NormalDistribution(d1);
	double N2 = chart.DataManipulator.Statistics.NormalDistribution(d2);
	optionprice = Price*N1 - Strike*Math.Exp(-Risk*Time)*N2;
	}
}
}
<html>
	<head>
		<meta charset="utf-8">
		<title>Option Pricing</title>
	</head>
	<body style="background-color: #B6CDFB; text-color: #000000">
		<form style="background-color: #FFFFFF; padding: 10px; border-style: solid" action="" method="post">
			<select name="Type">
				<option value="Call"> Call-option </option>
				<option value="Put"> Put-option </option>
			</select>
			<p><label for="Price">Asset price:</label><br>
			<input type="text" name="Price"/></p>

			<p><label for="Strike">Strike-price of option:</label><br>
			<input type="text" name="Strike"/></p>

			<p><label for="Time">Time left (part of year):</label><br>
			<input type="text" name="Time"/></p>

			<p><label for="Vol">Volatility:</label><br>
			<input type="text" name="Vol"/></p>

			<p><label for="Risk">Risk-free interest rate:</label><br>
			<input type="text" name="Risk"/></p>

			<p><input type="submit" value="Count" /></p>
		</form>
		<form style="background-color: #FFFFFF; padding: 10px; border-style: solid">
		<p>The price of @Kind option is @optionprice</p>
		</form>
	</body>
</html>