<configuration>
	<appSettings>
		<add key="webPages:Version" value="1.0"/>
	</appSettings>
	<system.web>
		<customErrors mode="Off"/>

		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.DataVisualization"/>
			</assemblies> 
		<compilation/>
	</system.web>
</configuration>