<configuration>
	<appSettings>
		<add key="webPages:Version" value="1.0"/>
	</appSettings>
<!--	<system.webServer>
		<httpErrors errorMode="Detailed" />
	</system.webServer> -->
	<system.web>
		<customErrors mode="Off"/>

		<compilation debug="true" targetFramework="4.0">
			<assemblies>
<!--				<add assembly="mscorlib" />
    			<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    			<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    			<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    			<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    			<add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    			<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    			<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    			<add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    			<add assembly="System.Web.Mobile, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" /> -->
				<add assembly="System.Web.DataVisualization"/>
			</assemblies> 
			<namespaces>
				<add namespace="System.Web.UI.DataVisualization.Charting"/>
			</namespaces>
		</compilation>
	</system.web>
</configuration>
